<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing_page.css" />
    <title>AutoBot</title>
  </head>
  <body>
    <div class="container">
      <section id="content">
        <main>
          <header>
            <h1>AutoBot</h1>
          </header>
          <button id="start-btn">Start bot</button>
          <button id="restart-btn">restart</button>
          <button id="upload-books">Continue uploading</button>
          <div id="input-container">
            <div id="first-input-div">
              <input
                type="text"
                id="sheet-title"
                placeholder="Enter sheet title"
                class="input"
              />
              <input
                class="input"
                type="text"
                id="spreadsheet-id"
                placeholder="Enter spreadsheet id"
              />
            </div>
            <div id="path-div">
              <div>
                <input
                  type="text"
                  class="input"
                  id="path-to-books"
                  placeholder="Enter path to books"
                />
                <button id="path-to-books-btn">Use default path</button>
              </div>
              <div>
                <input
                  type="text"
                  class="input"
                  id="path-to-excel-sheet"
                  placeholder="Enter path to excel sheet"
                />
                <button id="path-to-excel-sheet-btn">Use default path</button>
              </div>
              <input
                type="text"
                class="input"
                placeholder="Insert range"
                id="range"
              />
            </div>
          </div>
        </main>
        <aside>
          <p>Screenshots</p>
          <div id="image">
            <div id="slide-buttons">
              <button id="prev-btn">◀ Previous</button>
              <button id="next-btn">Next ▶</button>
            </div>
          </div>
        </aside>
        <aside id="console"></aside>
      </section>
    </div>
    <script src="socket.io/socket.io.js"></script>
    <script src="landing_page.js"></script>
  </body>
</html>
