* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(15, 15, 15);
}

.container {
  width: 95%;
  height: 95%;
}

#content {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
}

/* =====MAIN STYLING===== */
#content main {
  border: 1px solid cyan;
  border-radius: 7px;
  color: darkcyan;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#content #path-div {
  justify-content: center;
  border-left: 5px solid cyan;
  background-color: rgb(44, 44, 44);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}

#content #path-div div {
  display: flex;
  margin: 10px;
  gap: 10px;
}

#content #path-div button {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: darkcyan;
  color: white;
  cursor: pointer;
  width: max-content;
}

#first-input-div {
  width: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

#input-container {
  display: flex;
  gap: 20px;
}

#content main #range {
  width: 90%;
}

#content main #start-btn {
  padding: 10px;
  color: white;
  background-color: darkcyan;
  border-radius: 5px;
  font-size: 1rem;
  width: 100px;
  margin: 20px;
}

#content main #restart-btn {
  padding: 10px;
  color: white;
  background-color: darkcyan;
  border-radius: 5px;
  font-size: 1rem;
  width: max-content;
  margin: 20px;
  display: none;
}

#content main #upload-books {
  padding: 10px;
  color: white;
  background-color: darkcyan;
  border-radius: 5px;
  font-size: 1rem;
  width: max-content;
  margin: 20px;
  display: none;
}

#content main #upload-books:disabled {
  background-color: rgb(61, 61, 61);
  color: black;
  cursor: not-allowed;
}

#content main .input {
  padding: 10px;
  border-radius: 5px;
  outline-color: cyan;
  font-size: 14px;
  color: cyan;
  background-color: rgb(71, 71, 71);
  width: 200px;
}

#content main .input::placeholder {
  color: cyan;
}

/* =====ASIDE STYLING===== */
#content aside {
  grid-row: span 2;
  border: 1px solid cyan;
  border-radius: 7px;
  color: darkcyan;
  padding: 10px;
}

#content aside #slide-buttons {
  padding: 10px;
}

#content aside #slide-buttons button {
  width: 10px;
  width: 100px;
  color: white;
  border-radius: 5px;
  background-color: darkcyan;
  padding: 10px;
  font-size: 14px;
}

/* =====CONSOLE STYLING===== */
#console {
  border: 1px solid cyan;
  border-radius: 7px;
  background-color: black;
  overflow-y: scroll;
  color: darkcyan;
  padding: 10px;
}

#console::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
  border-radius: 1rem;
}

#console::-webkit-scrollbar-corner {
  background-color: transparent;
}

#console::-webkit-scrollbar-thumb {
  background-color: cyan;
  border-radius: 1rem;
}
